.iframeWindow {
    position: absolute;
    width: 100vw;
    height: 90vh;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    background-color: #141414;
}

#urlInput {
    position: absolute;
    padding: 0em;
    padding-left: 0.5em;
    margin: 0;
    left: 0;
    top: 0;
    width: 80vw;
    height: 10vh;
    border: 0;
    outline: 0;
    color: aliceblue;
    background-color: #25252a;
    font-size: 5vh;
}

#searchButton {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 20vw;
    height: 10vh;
    border: 0;
    outline: 0;
    color: #141414;
    background-color: aliceblue;
    font-size: 5vh;
}